<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bermuda - About Bermuda</title>
<link href="../assets/css/style.min.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/assets/images/common/favicon.ico"/>
</head>
<body class="aboutbermuda">
<div class="page">
  <div class="container"> 
    <!-- header -->
    <div class="header"> 
      <!-- weather widget -->
      <div class="weather-widget left"> <img src="/assets/images/common/weather-icon.png" alt="" />
        <div class="weather-text">Partly Cloudy</div>
        <div>H 82&deg; L 76&deg;</div>
      </div>
      <!-- end of Weather widget -->
      <div class="moreinfo left"><span>Need more info? Call 1-800-BERMUDA</span> US | <a href="#">UK</a> | <a href="#">DE</a> | <a href="#">IT</a> </div>
      <div class="icon-menu-container right"> <a href="#" class="btn-wedding">Wedding &amp Romance</a> <a href="#" class="btn-meeting">Meeting &amp Groups</a> <a href="#" class="btn-history">History &amp Architechure</a>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- navigation -->
    <div class="main-nav">
      <ul class="topnav">
        <li class="home"><a href="">home</a></li>
        <li class="aboutbermuda"><a href="">about bermuda</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Our Island</span></a></li>
            <li><a href="#"><span>Our People</span></a></li>
            <li><a href="#"><span>Connect With Us</span></a></li>
            <li><a href="#"><span>Multimedia Gallery</span></a></li>
            <li><a href="#"><span>Feel the Love Reward</span></a></li>
          </ul>
        </li>
        <li class="gethere"><a href="">get here</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Travel Basics</span></a></li>
            <li><a href="#"><span>Travel Professionals</span></a></li>
            <li><a href="#"><span>Maps &amp; Brochures</span></a></li>
            <li><a href="#"><span>Travel Tips</span></a></li>
          </ul>
        </li>
        <li class="wheretostay"><a href="">where to stay</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Search</span></a></li>
            <li><a href="#"><span>Hotels</span></a></li>
            <li><a href="#"><span>Inns, Bed &amp; Breakfast</span></a></li>
            <li><a href="#"><span>Cottages</span></a></li>
            <li><a href="#"><span>Suites &amp; Apartments</span></a></li>
            <li><a href="#"><span>Hurricane Guarantee</span></a></li>
          </ul>
        </li>
        <li class="whattodo"><a href="">what to do</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Event Calendar</span></a></li>
            <li><a href="#"><span>Signature Events</span></a></li>
            <li><a href="#"><span>Activities</span></a></li>
            <li><a href="#"><span>Dining</span></a></li>
            <li><a href="#"><span>Nightlife</span></a></li>
            <li><a href="#"><span>Shopping</span></a></li>
          </ul>
        </li>
        <li class="specialtytravel"><a href="">specialty travel</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Meetings</span></a></li>
            <li><a href="#"><span>Weddings &amp; Romance</span></a></li>
            <li><a href="#"><span>Golfing Vacations</span></a></li>
            <li><a href="#"><span>Cruise Visitors</span></a></li>
            <li><a href="#"><span>Family Vacations</span></a></li>
            <li><a href="#"><span>Bermuda Culture</span></a></li>
            <li><a href="#"><span>Beaches</span></a></li>
            <li><a href="#"><span>Sea Adventure</span></a></li>
          </ul>
        </li>
        <li class="traveldeal"><a href="">travel deals</a></li>
        <li class="bookyourtrip"><a href="">book your trip</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- end of navigation --> 
    <!-- booking widget popup-->
    <div class="bookingpopup"><a href="#" class="btn-close right">close</a>
      <iframe src="/bookingwidget.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="980" height="215" ></iframe>
    </div>
    <!-- end of booking widget popup --> 
    <!-- end of header -->
    <div> 
      <!-- hero image -->
      <div class="hero-container">
        <div class="hero-bg"><img src="/assets/images/landing/aboutbermuda/hero-img.jpg" width="980" height="620" id="" /></div>
        <!-- bermuda break lightbox -->
        <div class="bermudabreak"> <a href="#" class="bermuda-logo left">bermuda logo</a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img1.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break lightbox right" rel="bermuda-break"></a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img2.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break hidden lightbox right" rel="bermuda-break"></a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img3.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break hidden lightbox right" rel="bermuda-break"></a>
          <div class="right emailprintshare-icons emailprintshare">
            <ul>
              <li><a class="email" href="#">Email Updates</a></li>
              <li><a class="print" href="#">Print page</a></li>
              <li><a class="addthis_button share" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4a9c34ee2a5c0ba6">Share This</a></li>
            </ul>
            <div class="email-popup">
            	<a href="#" class="btn-close right">close</a>
            	<iframe src="t11-emailsignup.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="717" height="344" ></iframe>
            </div>
          </div>
        </div>
        <!-- end of bermuda break lightbox --> 
        <!-- promos -->
        <div class="promo-container">
          <div class="left-promo-container">
            <h2>The Pleasure is All Yours</h2>
            <p>You don't have to travel to find Paradise. Discover exquisite pink beaches, enchanting blue waters, old world hospitality and a vibrant culture that sways to a beat all its own. Come to the place where warm trade winds blow year round and your dream vacation is only a short flight away.</p>
          </div>
          <div class="right-promo-container"> <a href="#"><img src="../assets/images/landing/aboutbermuda/bermuda-beauty-module.png" alt="" /></a> <a href="#"><img src="../assets/images/landing/aboutbermuda/maps-brochures-module.png" alt="" /></a> </div>
        </div>
        <!-- end of promos --> 
      </div>
      <!-- end of hero image --> 
      <!-- sub content -->
      <div class="sub-content-container">
        <div class="accommodation-list"> <a href="#"><img src="/assets/images/landing/aboutbermuda/big-thumb1.jpg" alt="" /></a>
          <div class="sub-content-right">
            <h2><a href="#">Our Island</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <a class="learn-more-btn" href="#">Learn More</a> </div>
          <div class="clearfix"></div>
        </div>
        <div class="accommodation-list"> <a href="#"><img src="/assets/images/landing/aboutbermuda/big-thumb2.jpg" alt="" /></a>
          <div class="sub-content-right">
            <h2><a href="#">Our People</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <a class="learn-more-btn" href="#">Learn More</a> </div>
          <div class="clearfix"></div>
        </div>
        <div class="accommodation-list"> <a href="#"><img src="/assets/images/landing/aboutbermuda/big-thumb3.jpg" alt="" /></a>
          <div class="sub-content-right">
            <h2><a href="#">Connect With Us/Social Feeds</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <a class="learn-more-btn" href="#">Learn More</a> </div>
          <div class="clearfix"></div>
        </div>
        <div class="accommodation-list"> <a href="#"><img src="/assets/images/landing/aboutbermuda/big-thumb4.jpg" alt="" /></a>
          <div class="sub-content-right">
            <h2><a href="#">Multimedia Gallery</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <a class="learn-more-btn" href="#">Learn More</a> </div>
          <div class="clearfix"></div>
        </div>
        <div class="accommodation-list"> <a href="#"><img src="/assets/images/landing/aboutbermuda/big-thumb5.jpg" alt="" /></a>
          <div class="sub-content-right">
            <h2><a href="#">Feel the Love Rewards</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <a class="learn-more-btn" href="#">Learn More</a> </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end of sub content --> 
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="ministermsg-popup"> <a href="#" class="btn-close right">close</a>
        <div>
          <h4>Message from the Minister of Business Development and Tourism, The Hon. Patrice K. Minors, JP, MP</h4>
          <p>The people of Bermuda look forward to sharing the unique beauty and vibrant culture of our island paradise with you. No matter if it's enjoying our pink sand beaches or scuba diving,  golf or spa, great food or breathtaking sights, business meetings or destination weddings, start dreaming of your perfect escape to the other side of the world—only 2 hours away from most East Coast US airports. Because, as Mark Twain once said about Bermuda, &quot;You may go to heaven if you want to-I'd rather stay here.&quot;</p>
        </div>
      </div>
      <div class="award-strip">
        <div class="condenast left"> <img src="/assets/images/common/branding/conde-naste-logo.png" />
          <h2>Cond&#233; Nast Traveler Readers name Bermuda #1 Caribbean / Atlantic Island 2010<span><a href="#">learn more</a></span></h2>
          <div class="clearfix"></div>
        </div>
        <div class="ministermsg left"> <img src="/assets/images/common/minister.png" />
          <h2>Message from the Minister of Business Development and Tourism, The Hon. Patrice K. Minors, JP, MP </h2>
          The people of Bermuda look forward to sharing the unique beauty... <a href="#">read message</a> </div>
        <div class="clearfix"></div>
      </div>
      <div class="lowernavs">
        <ul class="aboutbermuda">
          <h3>About bermuda</h3>
          <li><a href="#">Our Island</a></li>
          <li><a href="#">Our People</a></li>
          <li><a href="#">Connect with Us</a></li>
        </ul>
        <ul class="wherebermuda">
          <h3>where to stay in bermuda</h3>
          <li><a href="#">Search for Accommodations in Bermuda</a></li>
          <li><a href="#">Bermuda Inns and Bed &amp; Breakfasts</a></li>
          <li><a href="#">Bermuda Cottages, Suites &amp; Apartments</a></li>
          <li><a href="#">Bermuda Cottage Colonies</a></li>
          <li><a href="#">Bermuda Hotels</a></li>
        </ul>
        <ul class="whatbermuda">
          <h3>what to do in bermuda</h3>
          <li><a href="#">Bermuda Events Calendar</a></li>
          <li><a href="#">Signature Events in Bermuda</a></li>
          <li><a href="#">Bermuda Activities</a></li>
          <li><a href="#">Bermuda Dining &amp; Nightlife</a></li>
          <li><a href="#">Bermuda Specialty Travel</a></li>
        </ul>
        <ul class="plantripbermuda">
          <h3>plan a trip to bermuda</h3>
          <li><a href="#">Traveling to Bermuda Basics</a></li>
          <li><a href="#">Bermuda Maps &amp; Brochures</a></li>
          <li><a href="#">Bermuda Travel Tips</a></li>
          <li><a href="#">Bermuda Travel Deals</a></li>
          <li><a href="#">Book a Trip to Bermuda</a></li>
        </ul>
        <div class="emailsignup left">
            <div>Get notified of the latest travel deals and special events.<a href="#" class="btn-signup">sign up</a></div>
          </div>
          <div class="email-popup-footer">
            	<a href="#" class="btn-close right">close</a>
            	<iframe src="t11-emailsignup.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="840" height="344" ></iframe>
          </div>
        <div class="clearfix"></div>
      </div>
      <div class="legal-social">
        <p>&copy; 2011 the Official Site of the Bermuda Department of Tourism</p>
        <div class="footerlinks left"><a href="#">Contact Us</a> | <a href="#">Terms of Use &amp; Privacy</a> | <a href="#">Site Map</a> | <a href="#">For the Press</a></div>
        <div class="sociallogos right">
          <p>Connect with Bermuda: </p>
          <a href="#"><img src="/assets/images/common/branding/fb-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/twitter-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/flickr-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/yt-logo.png" /></a>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- end of footer --> 
    </div>
  </div>
</div>
</div>
<script src="../assets/js/jquery.min.js"></script> 
<script src="../assets/js/script.min.js"></script> 
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a9c34ee2a5c0ba6"></script> 
<script type="text/javascript">
    var addthis_config = {
        services_compact: 'email, facebook, print, twitter, favorites, myspace, tumblr, delicious, friendfeed, reddit, stumbleupon, digg'
    }
</script>
</body>
</html>
