<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]>  <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie8 lte9 lte8">      <![endif]-->
<!--[if IE 9]>     <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie9 lte9">           <![endif]-->
<!--[if gt IE 9]>  <html xmlns="http://www.w3.org/1999/xhtml" class="ie">                    <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml">                               <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Signup</title>
<link href="../assets/css/style.min.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/assets/images/common/favicon.ico"/>
</head>

<body class="email-popup-content">
		<div class="email-form">
			  <h3>E-Mail Sign-up</h3>
              <div class="email-content-container">
                <div class="email-popup-content-left">
                  <form id="form-email-signup" action="" method="" class="form-email">
                  <ul>
                    <li>
                      <label for="fName">First Name:</label>
                      <input id="fName" name="fName" type="text" value="" />
                    </li>
                    <li>
                      <label for="lName">Last Name:</label>
                      <input id="lName" name="lName" type="text" value="" />
                    </li>
                    <li>
                      <label for="email">E-mail:</label>
                      <input id="email" name="email" type="text" value="" />
                    </li>
                    <li>
                      <label for="cEmail">Confirm E-mail:</label>
                      <input id="cEmail" name="cEmail" type="text" value="" />
                    </li>
                    <li>
                      <label for="sCountry">Country:</label>
                      <select name="sCountry" id="sCountry">
                        <option value="United States">United States</option>
                        <option value="">Country 1</option>
                        <option value="">Country 2</option>
                      </select>
                    </li>
                    <li>
                      <label for="pCode">Postal Code:</label>
                      <span class="optText">(optional)</span>
                      <input id="pCode" name="pCode" type="text" value="" />
                    </li>
                    <li><a href="#" id="emailSubmit" class="btn-signup-submit right">sign-up</a></li>
                  </ul>
                  </form>
                  <div class="clearfix"></div>
                </div>
                <div class="v-line left"></div>
                <div class="email-popup-content-right">
                  <h4>It pays to be a Bermuda insider!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet libero velit, et cursus magna. Suspendisse laoreet cursus consequat. Mauris venenatis erat non lacus ultricies scelerisque. Curabitur convallis luctus massa, ut pharetra purus pellentesque ac. Duis quis elit libero. Sed vulputate scelerisque nulla at pharetra. Curabitur aliquet, mi eu condimentum adipiscing, nisl augue vehicula purus, eget venenatis sapien massa non nibh. Fusce vitae justo velit, commodo auctor arcu. Quisque ultricies tempus erat ut suscipit. Nam imperdiet posuere turpis, in cursus libero tincidunt ac.</p>
                  <div class="clearfix"></div>
                </div>
              </div>
		</div>
		
		<div class="email-thankyou hidden">
			<h2>Thank you for signing up!</h2>
			<p>In the meantime, find us in other places online</p>
			<div class="email-thankyou-place">
				<a href="#"><img src="/assets/images/common/branding/rss-logo-large.png" alt="" width="54" height="53" /></a>
				<h4>Read about...</h4>
				<ul>
					<li><a href="#">Special Itineraries</a></li>
					<li><a href="#">Accommodations</a></li>
					<li><a href="#">Latest Travel Deals</a></li>
					<li><a href="#">Our Signature Events</a></li>
					<li><a href="#">What to Do in Bermuda</a></li>
				</ul>
			</div>
			<div class="email-thankyou-place">
				<a href="#"><img src="/assets/images/common/branding/fb-logo-large.png" alt="" width="54" height="53" /></a>
				<h4><a href="#">Like Us on Facebook</a></h4>
				<p>Don't just take our word for it, get hip to what everyone else is saying about Bermuda. Find the best beaches, hear about the hidden gems, score an outrageous deal, or plan that perfect romantic evening with a little help from our Facebook friends.</p>
				<a href="#" class="e-link">Like Us</a>
			</div>
			<div class="email-thankyou-place">
				<a href="#"><img src="/assets/images/common/branding/twitter-logo-large.png" alt="" width="54" height="53" /></a>
				<h4><a href="#">Follow us on Twitter</a></h4>
				<p>As sweet as a song from our own white-tailed tropicbird, our tweets will instantly transport you to our sandy shores. For bits and bursts about our breathtaking island, come follow us.</p>
				<a href="#" class="e-link">Follow Us</a>
			</div>
			<div class="email-thankyou-place">
				<a href="#"><img src="/assets/images/common/branding/youtube-logo-large.png" alt="" width="54" height="53" /></a>
				<h4><a href="#">Watch Us on YouTube</a></h4>
				<p>Get away to Bermuda in one click, let us take you there on YouTube. From the sound of the waves crashing on the bright pink shore to the rays of sun streaming gently through the clouds, it's the closest you can get to actually being here.</p>
				<a href="#" class="e-link">Watch Us</a>
			</div>
			<div class="email-thankyou-place">
				<a href="#"><img src="/assets/images/common/branding/flickr-logo-large.png" alt="" width="54" height="53" /></a>
				<h4><a href="#">Catch Us on Flickr</a></h4>
				<p>Sightseeing goes virtual. Experience just how gorgeous Paradise is through a community of eyes. Posting vacation shots is a snap on Flickr, and you can upload pictures to share with other past and future Bermuda-lovers.</p>
				<a href="#" class="e-link">See Us</a>
			</div>
		</div>
		
	<script src="../assets/js/jquery.min.js"></script> 
	<script src="../assets/js/script.min.js"></script>
</body>
</html>
            