<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bermuda</title>
<link href="../assets/css/style.min.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/assets/images/common/favicon.ico"/>
</head>
<body class="whattodo">
<div class="page">
  <div class="container"> 
    <!-- header -->
    <div class="header"> 
      <!-- weather widget -->
      <div class="weather-widget left"> <img src="/assets/images/common/weather-icon.png" alt="" />
        <div class="weather-text">Partly Cloudy</div>
        <div>H 82&deg; L 76&deg;</div>
      </div>
      <!-- end of Weather widget -->
      <div class="moreinfo left"><span>Need more info? Call 1-800-BERMUDA</span> US | <a href="#">UK</a> | <a href="#">DE</a> | <a href="#">IT</a> </div>
      <div class="icon-menu-container right"> <a href="#" class="btn-wedding">Wedding &amp Romance</a> <a href="#" class="btn-meeting">Meeting &amp Groups</a> <a href="#" class="btn-history">History &amp Architechure</a>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- navigation -->
    <div class="main-nav">
      <ul class="topnav">
        <li class="home"><a href="">home</a></li>
        <li class="aboutbermuda"><a href="">about bermuda</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Our Island</span></a></li>
            <li><a href="#"><span>Our People</span></a></li>
            <li><a href="#"><span>Connect With Us</span></a></li>
            <li><a href="#"><span>Multimedia Gallery</span></a></li>
            <li><a href="#"><span>Feel the Love Reward</span></a></li>
          </ul>
        </li>
        <li class="gethere"><a href="">get here</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Travel Basics</span></a></li>
            <li><a href="#"><span>Travel Professionals</span></a></li>
            <li><a href="#"><span>Maps &amp; Brochures</span></a></li>
            <li><a href="#"><span>Travel Tips</span></a></li>
          </ul>
        </li>
        <li class="wheretostay"><a href="">where to stay</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Search</span></a></li>
            <li><a href="#"><span>Hotels</span></a></li>
            <li><a href="#"><span>Inns, Bed &amp; Breakfast</span></a></li>
            <li><a href="#"><span>Cottages</span></a></li>
            <li><a href="#"><span>Suites &amp; Apartments</span></a></li>
            <li><a href="#"><span>Hurricane Guarantee</span></a></li>
          </ul>
        </li>
        <li class="whattodo"><a href="">what to do</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Event Calendar</span></a></li>
            <li><a href="#"><span>Signature Events</span></a></li>
            <li><a href="#"><span>Activities</span></a></li>
            <li><a href="#"><span>Dining</span></a></li>
            <li><a href="#"><span>Nightlife</span></a></li>
            <li><a href="#"><span>Shopping</span></a></li>
          </ul>
        </li>
        <li class="specialtytravel"><a href="">specialty travel</a>
          <ul>
            <div class="top-line"></div>
            <li><a href="#"><span>Meetings</span></a></li>
            <li><a href="#"><span>Weddings &amp; Romance</span></a></li>
            <li><a href="#"><span>Golfing Vacations</span></a></li>
            <li><a href="#"><span>Cruise Visitors</span></a></li>
            <li><a href="#"><span>Family Vacations</span></a></li>
            <li><a href="#"><span>Bermuda Culture</span></a></li>
            <li><a href="#"><span>Beaches</span></a></li>
            <li><a href="#"><span>Sea Adventure</span></a></li>
          </ul>
        </li>
        <li class="traveldeal"><a href="">travel deals</a></li>
        <li class="bookyourtrip"><a href="">book your trip</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- end of navigation --> 
    <!-- booking widget popup-->
    <div class="bookingpopup"><a href="#" class="btn-close right">close</a>
      <iframe src="/bookingwidget.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="980" height="215" ></iframe>
    </div>
    <!-- end of booking widget popup --> 
    <!-- end of header -->
    <div class="content-details"> 
      <!-- hero image -->
      <div class="hero-container">
        <div class="hero-bg"><img src="/assets/images/landing/whattodo/eventscalendar/hero-img.jpg" width="980" height="300" id="" /></div>
        <!-- bermuda break lightbox -->
        <div class="bermudabreak"> <a href="#" class="bermuda-logo left">bermuda logo</a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img1.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break lightbox right" rel="bermuda-break"></a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img2.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break hidden lightbox right" rel="bermuda-break"></a> <a href="/assets/images/homepage/bermuda-lightbox-img/bermuda-lightbox-img3.jpg" title="Mid Ocean Golf Course" class="btn-bermuda-break hidden lightbox right" rel="bermuda-break"></a>
          <div class="right emailprintshare-icons emailprintshare">
            <ul>
              <li><a class="email" href="#">Email Updates</a></li>
              <li><a class="print" href="#">Print page</a></li>
              <li><a class="addthis_button share" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4a9c34ee2a5c0ba6">Share This</a></li>
            </ul>
            <div class="email-popup"> <a href="#" class="btn-close right">close</a>
              <iframe src="t11-emailsignup.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="717" height="344" ></iframe>
            </div>
          </div>
        </div>
        <!-- end of bermuda break lightbox --> 
      </div>
      <!-- end of hero image --> 
      <!-- sub content -->
      <div class="sub-content-container">
        <ul class="subnavs">
          <li class="events"><a href="#" class="selected">Events Calendar</a></li>
          <li class="signature"><a href="#">Signature Events</a></li>
          <li class="activities"><a href="#">Activities</a></li>
          <li class="dining"><a href="#">Dining</a></li>
          <li class="nightlife"> <a href="#">Nightlife</a> </li>
          <li class="golf"> <a href="#">Golf</a> </li>
          <li class="spa"> <a href="#">Spa</a> </li>
          <li class="transport"> <a href="#">Transport on Bermuda</a> </li>
        </ul>
        <div class="clearfix"></div>
        <h2 class="browntext">Browse events in Bermuda by month, and use the filters to narrow down events by interest.</h2>
        <div class="sub-shadow-container whattodo-evtcalendar">
          <div class="sub-shadow-top"></div>
          <div class="sub-shadow">
            <div class="sub-background filerform-container">
              <form id="form-explore" method="post" action="">
                <div class="left acco-loc">
                  <div class="input-container-accom">
                    <div class="clearboth">
                      <label class="titlelabel">Select Event Date:</label>
                    </div>
                    <select>
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                    <select>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                    </select>
                  </div>
                </div>
                <div class="left acco-loc-right">
                  <div class="input-container-amen">
                    <div class="clearboth">
                      <label class="titlelabel">Narrow Down Filter Your List:</label>
                    </div>
                    <ul class="left">
                      <li>
                        <input type="checkbox" />
                        <label>Culture</label>
                      </li>
                      <li>
                        <input type="checkbox" />
                        <label>Family</label>
                      </li>
                    </ul>
                    <ul class="left">
                      <li>
                        <input type="checkbox" />
                        <label>Music</label>
                      </li>
                      <li>
                        <input type="checkbox" />
                        <label>Romance</label>
                      </li>
                    </ul>
                    <ul class="left">
                      <li>
                        <input type="checkbox" />
                        <label>Sports</label>
                      </li>
                      <li>
                        <input type="checkbox" />
                        <label>Shopping</label>
                      </li>
                    </ul>
                    <ul class="left">
                      <li>
                        <input type="checkbox" />
                        <label>Nightlife</label>
                      </li>
                      <li>
                        <input type="checkbox" />
                        <label>Faith-Based</label>
                      </li>
                    </ul>
                    <ul class="left">
                      <li>
                        <input type="checkbox" />
                        <label>Arts</label>
                      </li>
                      <li>
                        <input type="checkbox" />
                        <label>Other</label>
                      </li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
              <div class="clearfix"></div>
              <div class="divider"></div>
              <h2>Date/Time</h2>
              <h2>Event Details</h2>
              <div class="clearfix"></div>
              <div class="divider"></div>
              <div class="filterResult">
                <div class="eventListing">
                  <div class="left eventdate">
                    <p>December 1-3, 6, 8-10, 2010<br />
                      Various Times. See website details.</p>
                  </div>
                  <div class="left eventinfo">
                    <h2><a href="#">Bermuda Bridge Club Games - 2010</a></h2>
                    <h3>Bermuda Bridge Club, Pomander Road, Paget (East End)</h3>
                    <p>Mind Sports: The Bermuda Bridge Club runs regular bridge games that are open to anyone including visitors. The Club plays Duplicate Contract Bridge. Games are open to all except on Wednesday and Thursday evenings, which are restricted to players with less than 300 and 100 Master points.</p>
                    <p>Admission: $10 per game for non-members. Games are played all year round and are subject to Christmas and New Year holidays.</p>
                    <p class="subtitle">ENQUIRIES</p>
                    <p><a href="#">www.bermudabridge.com</a></p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="eventListing">
                  <div class="left eventdate">
                    <p>December 1, 8, 2010<br />
                      2:30 - 4:00pm</p>
                  </div>
                  <div class="left eventinfo">
                    <h2><a href="#">Bermuda Cookery Demonstration - 2010/11</a></h2>
                    <h3>No. 6 Passenger Terminal, Front Street, City of Hamilton (East End)</h3>
                    <p>Cultural Events: Bermudian cuisine is a 'melting pot' of ethnic influences. Bermudian chef, Cheryl Kerr, shares local flavours.</p>
                    <p>Admission: Free. This is a Bermuda Rendezvous Activity.</p>
                    <p>Enquiries: Department of Community and Cultural Affairs, 81 Court Street, Hamilton, tel 441 292 9447, or visit one of our Visitor Information Centre's: next to the Ferry Terminal, Front Street, Hamilton, tel 441 295 1480; in the World Heritage Centre, Penno's Wharf, Town of St. George, tel 441 297 5791; in Gazebo #2, Dockyard Terrace, Royal Naval Dockyard, tel 441 238 4842</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="eventListing">
                  <div class="left eventdate">
                    <p>December 1, 3, 7-8, 10, 2010<br />
                      12:00pm - 2:00pm</p>
                  </div>
                  <div class="left eventinfo">
                    <h2><a href="#">Bermuda Gardens Tour - 2010/11</a></h2>
                    <h3>Botanical Gardens Visitor's Centre, Paget (East End)</h3>
                    <p>Cultural Events: Meet at the Berry Hill entrance near Botanical Garden's Visitor's Centre. Tuesdays, Wednesdays and Fridays, 10:30am. Sub-tropical fruit groves, cedar and banyan trees, formal gardens, sensory garden, cacti and display houses with exotic plants are a few of the 15 permanent collections in the lush 36 acres.</p>
                    <p>On Tuesdays and Fridays only from 12:00pm - 2:00pm while in the Botanical Gardens, visit historic 'Camden' the official residence of the Premier, providing official functions are not scheduled.</p>
                    <p>Admission: Free</p>
                    <p class="subtitle">ENQUIRIES</p>
                    <p class="subinfo">Department of Parks, Botanical Gardens, 169 South Rose, Paget DV 04, tel 441 236 5902, <a href="#">www.gov.bm</a></p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-shadow-bot"></div>
          <div class="pagination right">
            <ul>
              <li><a href="#"><span>|&lt; first</span></a></li>
              <li><a href="#"><span>&lt; previous</span></a></li>
              <li><a href="#" class="activepage"><span>1</span></a></li>
              <li><a href="#"><span>2</span></a></li>
              <li><a href="#"><span>3</span></a></li>
              <li><a href="#"><span>4</span></a></li>
              <li><a href="#"><span>5</span></a></li>
              <li><a href="#"><span>6</span></a></li>
              <li><a href="#"><span>7</span></a></li>
              <li><a href="#"><span>8</span></a></li>
              <li><a href="#"><span>9</span></a></li>
              <li><a href="#"><span>10</span></a></li>
              <li><a href="#"><span>11</span></a></li>
              <li><a href="#"><span>12</span></a></li>
              <li><a href="#"><span>next &gt;</span></a></li>
              <li><a href="#"><span>last &gt;|</span></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- end of sub content --> 
      </div>
      <!-- footer -->
      <div class="footer">
        <div class="ministermsg-popup"> <a href="#" class="btn-close right">close</a>
          <div>
            <h4>Message from the Minister of Business Development and Tourism, The Hon. Patrice K. Minors, JP, MP</h4>
            <p>The people of Bermuda look forward to sharing the unique beauty and vibrant culture of our island paradise with you. No matter if it's enjoying our pink sand beaches or scuba diving,  golf or spa, great food or breathtaking sights, business meetings or destination weddings, start dreaming of your perfect escape to the other side of the world—only 2 hours away from most East Coast US airports. Because, as Mark Twain once said about Bermuda, &quot;You may go to heaven if you want to-I'd rather stay here.&quot;</p>
          </div>
        </div>
        <div class="award-strip">
          <div class="condenast left"> <img src="/assets/images/common/branding/conde-naste-logo.png" />
            <h2>Cond&#233; Nast Traveler Readers name Bermuda #1 Caribbean / Atlantic Island 2010<span><a href="#">learn more</a></span></h2>
            <div class="clearfix"></div>
          </div>
          <div class="ministermsg left"> <img src="/assets/images/common/minister.png" />
            <h2>Message from the Minister of Business Development and Tourism, The Hon. Patrice K. Minors, JP, MP </h2>
            The people of Bermuda look forward to sharing the unique beauty... <a href="#">read message</a> </div>
          <div class="clearfix"></div>
        </div>
        <div class="lowernavs">
          <ul class="aboutbermuda">
            <h3>About bermuda</h3>
            <li><a href="#">Our Island</a></li>
            <li><a href="#">Our People</a></li>
            <li><a href="#">Connect with Us</a></li>
          </ul>
          <ul class="wherebermuda">
            <h3>where to stay in bermuda</h3>
            <li><a href="#">Search for Accommodations in Bermuda</a></li>
            <li><a href="#">Bermuda Inns and Bed &amp; Breakfasts</a></li>
            <li><a href="#">Bermuda Cottages, Suites &amp; Apartments</a></li>
            <li><a href="#">Bermuda Cottage Colonies</a></li>
            <li><a href="#">Bermuda Hotels</a></li>
          </ul>
          <ul class="whatbermuda">
            <h3>what to do in bermuda</h3>
            <li><a href="#">Bermuda Events Calendar</a></li>
            <li><a href="#">Signature Events in Bermuda</a></li>
            <li><a href="#">Bermuda Activities</a></li>
            <li><a href="#">Bermuda Dining &amp; Nightlife</a></li>
            <li><a href="#">Bermuda Specialty Travel</a></li>
          </ul>
          <ul class="plantripbermuda">
            <h3>plan a trip to bermuda</h3>
            <li><a href="#">Traveling to Bermuda Basics</a></li>
            <li><a href="#">Bermuda Maps &amp; Brochures</a></li>
            <li><a href="#">Bermuda Travel Tips</a></li>
            <li><a href="#">Bermuda Travel Deals</a></li>
            <li><a href="#">Book a Trip to Bermuda</a></li>
          </ul>
          <div class="emailsignup left">
            <div>Get notified of the latest travel deals and special events.<a href="#" class="btn-signup">sign up</a></div>
          </div>
          <div class="email-popup-footer"> <a href="#" class="btn-close right">close</a>
            <iframe src="t11-emailsignup.html" style="border:none; margin:0; padding:0;" scrolling="no" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="840" height="344" ></iframe>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="legal-social">
          <p>&copy; 2011 the Official Site of the Bermuda Department of Tourism</p>
          <div class="footerlinks left"><a href="#">Contact Us</a> | <a href="#">Terms of Use &amp; Privacy</a> | <a href="#">Site Map</a> | <a href="#">For the Press</a></div>
          <div class="sociallogos right">
            <p>Connect with Bermuda: </p>
            <a href="#"><img src="/assets/images/common/branding/fb-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/twitter-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/flickr-logo.png" /></a><a href="#"><img src="/assets/images/common/branding/yt-logo.png" /></a>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- end of footer --> 
      </div>
    </div>
  </div>
</div>
<script src="../assets/js/jquery.min.js"></script> 
<script src="../assets/js/script.min.js"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a9c34ee2a5c0ba6"></script> 
<script type="text/javascript">
    var addthis_config = {
        services_compact: 'email, facebook, print, twitter, favorites, myspace, tumblr, delicious, friendfeed, reddit, stumbleupon, digg'
    }
</script>
</body>
</html>
