.ui-tabs .ui-tabs-nav {
    padding: 0;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-header {
    background: none;
    border-color: #666;
    border-width: 0;
}

.ui-tabs {
    padding: 0;
}

.ui-widget-content {
    background: none;
    border: none;
}

div#tabs .ui-widget-content h1 {
    font-size: 16px;
}

.ui-widget {
    font-size: 12px;
    font-family: Arial,sans-serif;
}

.ui-widget-header {
    font-weight: normal;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal;
    border: none;
    background: url(/images/p_img_Checking2011_tabNormalRight.png) no-repeat right top;
   }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: normal;
    border: none;
    background: url(/images/p_img_Checking2011_tabCurrentRight.png) no-repeat right top;
  	top: 1px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
    font-weight: normal;
    border: none;
    background: url(/images/p_img_Checking2011_tabCurrentRight.png) no-repeat right top;
    top: 1px !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #898989;
    background: url(/images/p_img_Checking2011_tabNormalLeft.png) no-repeat left top;
    
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #666;
    background: url(/images/p_img_Checking2011_tabCurrentLeft.png) no-repeat left top;
   
}

.ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited {
    color: #666;
    background: url(/images/p_img_Checking2011_tabCurrentLeft.png) no-repeat left top;
   
}

.ui-tabs .ui-tabs-panel {
    border: solid 1px #B6B6B6;
    border-radius: 0;
}

.ui-tabs .ui-tabs-nav {
    position: relative;
    overflow: visible;
    margin: 0;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 3px 0 0;
    height: 26px;
    position: relative;
    line-height: 1em;
    padding-bottom: 0;
    top: 5px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 8px 6px 6px 6px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0;
}

.ui-widget-content a {
    color: #0069AA;
}
.bodyCopy {
	font-weight:normal; font-size:11px; color:#666;
}